/*---------- Variables ----------*/
    /* variables -- couleurs principales header/ aside/ footer */ 
    $primary-color: #579C87;
    $secondary-color: #F8CB4E;
    $header__heading--font-family: arial;

    /* variables -- Menu*/ 
        /* color*/
    $menu-background--color: #fddfdb;
    $menu-header__heading--color: #50252c;
    $menu-theme__headind--color: #50252c;
    $menu-theme__plat--color: #50252c;

        /* font-family*/

    $menu-header__heading--font-family: 'Devonshire', cursive;
    $menu-theme__headind--font-family: 'Kalam', cursive;
    $menu-theme__plat--font-family: 'Kalam', cursive;

/*---------- css ----------*/

body
{
    width: 100%;
}
/*---------- header */

header
{
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 5em;
    border: 1px $primary-color solid;
}

header a
{
    text-decoration: none;
    color: yellow;
}

.header__heading
{
    font-size: 5rem;
    font-family: $header__heading--font-family;
    font-weight: bold;
    color: $secondary-color;
}

/* container */
.container
{
    width: 70%;
    margin: auto;
    text-align: center;
    background:$menu-background--color;
    margin-bottom: 10em;
    box-shadow: 6px 6px 20px grey;
}

.menu-header__img
{
    width: 10%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 2em;
    
}

.menu-header__heading
{
    color: $menu-header__heading--color;
    font-size: 4em;
    font-family: $menu-header__heading--font-family;
}

.separateur
{
    width: 35%;
    height: 50%;
}

.menu-theme__heading
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-family: $menu-theme__headind--font-family;
    font-size: 1.5em;
    color: $menu-theme__headind--color;
    align-items: center;
}

.menu-theme
{
    margin-bottom: 3em;
}

.menu-theme__plat
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: $menu-theme__plat--font-family;
    font-size: 1.8em;
    color: $menu-theme__plat--color;
}

.prix
{
    font-weight: bold;
}

aside
{
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 10em;
}


aside img
{
    margin-right: 1em;
    padding-top: 0em;
}

aside h2
{
    font-size: 3em;
    font-family: $menu-header__heading--font-family;
    margin-bottom: 0em;
    
}

.menu1__note-music2
{
    width: 5%;
    

}

/*---------- Footer */

footer
{
    background: $primary-color;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5em;
    padding-right: 1.5em;
    line-height: 0.5rem;
    position: fixed;
    bottom: 0em;
    right: 0em;
    left: 0em;
    border: 1px $primary-color solid;
}

h3
{
    font-size: 3rem;
    text-align: justify;
}

a
{
    text-decoration: none;
    color: $secondary-color;
}
