/*---------- Google fonts & Fontsawesome ----------*/
/* Google fonts 

font-family: 'Croissant One', cursive;
font-family: 'Gelasio', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Devonshire', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Kalam', cursive;
font-family: 'Farsan', cursive;
*/

/*---------- Variables ----------*/
    /* variables -- couleurs principales header/ aside/ footer */ 
$primary-color: #579C87;
$secondary-color: #F8CB4E;
    /* variables -- menu-prev--background-color*/ 
$menu1-background--color: #fddfdb;
$menu2-background--color: #FFF5FE;
$menu3-background--color: #F7F8F8;
$menu4-background--color: #FEFFFB;
    /* variables -- menu-prev--font-family */ 
$header__heading--font-family: arial;
$menu1-p--font-family: 'Devonshire', cursive;
$menu1-h2--font-family: 'Kalam', cursive;
$menu2-p--font-family: 'Croissant One', cursive;
$menu2-h2--font-family: 'Gelasio', serif;
$menu3-p--font-family: 'Dancing Script', cursive;
$menu3-h2--font-family:'Kalam', cursive;
$menu4-p--font-family: 'Kaushan Script', cursive;
$menu4-h2--font-family: 'Kalam', cursive;
    /* variables -- menu-prev--color */ 
$menu1-p--color: #50252c;
$menu1-h2--color: #50252c;
$menu2-p--color: rgb(111, 0, 255);
$menu2-h2--color: #554145;
$menu3-p--color: blue;
$menu3-h2--color: blue;
$menu4-p--color: rgba(59, 170, 31, 0.993);
$menu4-h2--color: rgba(59, 170, 31, 0.993);
    /* variables -- menu-prev--size par défaut */ 
$menu-prev__p--size: 2.7em;
$menu-prev__h2--size: 4em;

/*---------- Selecteurs ----------*/
.btn
{
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
}

.btn-wide
{
    width: 400px;
}

.btn-rounded
{
    border-radius: 1.5rem;
}

.border
{
    border: 1px black solid;
}

/*---------- @mixin ----------*/
@mixin ss-menu-prev ($color){
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 6px 6px 20px grey;
    background: $color;
    margin: 5em;
}

@mixin menu-prev ($color){
    width: 480px;
    height: 690px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 6px 6px 20px grey;
    background: $color;
    margin: 5em;
}

@mixin menu-prev__p ($color, $font-family, $size: $menu-prev__p--size) {
    font-family: $font-family;
    font-weight: normal;
    font-size: $size;
    margin-bottom: -0.5em;
    margin-top: 0em;
    color: $color;
} 

@mixin menu-prev__h2  ($color, $font-family, $size: $menu-prev__h2--size) {
    font-family: $font-family;
    color: $color;
    font-size: $size;
}

/*---------- propriétés css ----------*/

/*---------- body */

body
{
    width: 100%;
}

/*---------- header */

.header {
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 5em;
    border: 1px $primary-color solid;
    &__heading {
        font-size: 5em;
        font-family: $header__heading--font-family;
        font-weight: bold;
    }
}

/*---------- container */
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 5em;
    width: 100%;
}

.note-music
{
    width: 15%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 2em;
    
}

.menu-prev1 {
    @include menu-prev(#fddfdb);
    &__p {
      @include menu-prev__p(#50252c, $menu1-p--font-family)
    }
    &__h2 {
      @include menu-prev__h2(#50252c,$menu1-h2--font-family)
    }
  }

  .menu-prev2 {
    @include menu-prev(#FFF5FE);
    &__p {
      @include menu-prev__p(rgb(111, 0, 255), $menu2-p--font-family, 2em)
    }
    &__h2 {
      @include menu-prev__h2(#554145, $menu2-h2--font-family)
    }
  }

.menu-prev3 {
    @include menu-prev(#F9F9F9);
    &__p {
      @include menu-prev__p(blue, $menu3-p--font-family)
    }
    &__h2 {
      @include menu-prev__h2(blue, $menu3-h2--font-family)
    }
  }

.menu-prev4 {
    @include menu-prev(#FEFFFD);
    &__p {
      @include menu-prev__p(rgba(59, 170, 31, 0.993), $menu4-p--font-family)
    }
    &__h2 {
      @include menu-prev__h2(rgba(59, 170, 31, 0.993), $menu4-h2--font-family)
    }
  }

  /*---------- Prochainement */

.soon
{
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
    width: 800px;
    margin: auto;
    margin-bottom: 15em;
    line-height: 0.2rem;
    border-radius: 1.5rem;
    border: 1px $primary-color solid;
}

.soon h2
{
    font-size: 4rem;
}


/*---------- Footer */

footer
{
    background: $primary-color;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5em;
    padding-right: 1.5em;
    line-height: 0.5rem;
    position: fixed;
    bottom: 0em;
    right: 0em;
    left: 0em;
    border: 1px $primary-color solid;
}

h3
{
    font-size: 3rem;
    text-align: justify;
}

a
{
    text-decoration: none;
    color: $secondary-color;
}


