/* variables */
$primary-color: rgba(41, 153, 138, 0.9OO);
$secondary-color: rgba(255, 217, 0, 0.774);


/* selecteurs */
.btn
{
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
}

.btn-wide
{
    width: 400px;

}

.btn-rounded
{
    border-radius: 1.5rem;
}

/*---------- propriétés css ----------*/

/* propriétés css */

body
{
    width: 100%;
}

/*---------- header css ----------*/

header
{
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 5em;
    border: 1px $primary-color solid;
}
h1
{
    font-size: 5rem;

}

/*---------- container css ----------*/
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 5em;
    width: 80%;
    border: 1px black solid;

}

.container section
{
    margin: 5rem;

    
    
}

img
{
    height: auto;
    width: 100%;
    max-width: 500px;
    box-shadow: 6px 6px 20px grey;
}

/*---------- Prochainement css ----------*/

.soon
{
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
    width: 800px;
    margin: auto;
    margin-bottom: 15em;
    line-height: 0.2rem;
    border-radius: 1.5rem;
    border: 1px $primary-color solid;
}

h2
{
    font-size: 4rem;
}


/*---------- Footer css ----------*/

footer
{
    background: $primary-color;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5em;
    padding-right: 1.5em;
    line-height: 0.5rem;
    position: fixed;
    bottom: 0em;
    right: 0em;
    left: 0em;
    border: 1px $primary-color solid;
}

h3
{
    font-size: 3rem;
}

a
{
    text-decoration: none;
    color: $secondary-color;
}
