@charset "UTF-8";
/*---------- Google fonts & Fontsawesome ----------*/
/* Google fonts 

font-family: 'Croissant One', cursive;
font-family: 'Gelasio', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Devonshire', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Kalam', cursive;
font-family: 'Farsan', cursive;
*/
/*---------- Variables ----------*/
/* variables -- couleurs principales header/ aside/ footer */
/* variables -- menu-prev--background-color*/
/* variables -- menu-prev--font-family */
/* variables -- menu-prev--color */
/* variables -- menu-prev--size par défaut */
/*---------- Selecteurs ----------*/
.btn {
  background: #579C87;
  color: #F8CB4E;
  text-align: center;
}

.btn-wide {
  width: 400px;
}

.btn-rounded {
  border-radius: 1.5rem;
}

.border {
  border: 1px black solid;
}

/*---------- @mixin ----------*/
/*---------- propriétés css ----------*/
/*---------- body */
body {
  width: 100%;
}

/*---------- header */
.header {
  background: #579C87;
  color: #F8CB4E;
  text-align: center;
  margin-bottom: 5em;
  border: 1px #579C87 solid;
}

.header__heading {
  font-size: 5em;
  font-family: arial;
  font-weight: bold;
}

/*---------- container */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 5em;
  width: 100%;
}

.note-music {
  width: 15%;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 2em;
}

.menu-prev1 {
  width: 480px;
  height: 690px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 6px 6px 20px grey;
          box-shadow: 6px 6px 20px grey;
  background: #fddfdb;
  margin: 5em;
}

.menu-prev1__p {
  font-family: "Devonshire", cursive;
  font-weight: normal;
  font-size: 2.7em;
  margin-bottom: -0.5em;
  margin-top: 0em;
  color: #50252c;
}

.menu-prev1__h2 {
  font-family: "Kalam", cursive;
  color: #50252c;
  font-size: 4em;
}

.menu-prev2 {
  width: 480px;
  height: 690px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 6px 6px 20px grey;
          box-shadow: 6px 6px 20px grey;
  background: #FFF5FE;
  margin: 5em;
}

.menu-prev2__p {
  font-family: "Croissant One", cursive;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: -0.5em;
  margin-top: 0em;
  color: #6f00ff;
}

.menu-prev2__h2 {
  font-family: "Gelasio", serif;
  color: #554145;
  font-size: 4em;
}

.menu-prev3 {
  width: 480px;
  height: 690px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 6px 6px 20px grey;
          box-shadow: 6px 6px 20px grey;
  background: #F9F9F9;
  margin: 5em;
}

.menu-prev3__p {
  font-family: "Dancing Script", cursive;
  font-weight: normal;
  font-size: 2.7em;
  margin-bottom: -0.5em;
  margin-top: 0em;
  color: blue;
}

.menu-prev3__h2 {
  font-family: "Kalam", cursive;
  color: blue;
  font-size: 4em;
}

.menu-prev4 {
  width: 480px;
  height: 690px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 6px 6px 20px grey;
          box-shadow: 6px 6px 20px grey;
  background: #FEFFFD;
  margin: 5em;
}

.menu-prev4__p {
  font-family: "Kaushan Script", cursive;
  font-weight: normal;
  font-size: 2.7em;
  margin-bottom: -0.5em;
  margin-top: 0em;
  color: rgba(59, 170, 31, 0.993);
}

.menu-prev4__h2 {
  font-family: "Kalam", cursive;
  color: rgba(59, 170, 31, 0.993);
  font-size: 4em;
}

/*---------- Prochainement */
.soon {
  background: #579C87;
  color: #F8CB4E;
  text-align: center;
  width: 800px;
  margin: auto;
  margin-bottom: 15em;
  line-height: 0.2rem;
  border-radius: 1.5rem;
  border: 1px #579C87 solid;
}

.soon h2 {
  font-size: 4rem;
}

/*---------- Footer */
footer {
  background: #579C87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  line-height: 0.5rem;
  position: fixed;
  bottom: 0em;
  right: 0em;
  left: 0em;
  border: 1px #579C87 solid;
}

h3 {
  font-size: 3rem;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #F8CB4E;
}
/*# sourceMappingURL=style.css.map */