/* variables */
$primary-color: rgb(41, 153, 97);
$secondary-color: rgba(255, 217, 0, 0.829);


/* selecteurs */
.btn
{
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
}

.btn-wide
{
    width: 400px;

}

.btn-rounded
{
    border-radius: 1.5rem;
}

/* propriétés css */
h1
{
    font-size: 5rem;
    line-height: 10rem;
}

h2
{
    font-size: 4rem;
}

h3
{
    font-size: 3rem;
}

img
{
    height: 1000px;
}

body
{
    width: 100%;
}

.container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 5em;
    width: 80%;

}

.container section
{
    box-shadow: 6px 6px 20px grey;
    margin: 5rem;
}

.soon
{
    width: 800px;
    margin: auto;
    margin-bottom: 10em;
    line-height: 5rem;
}

footer
{
    display: flex;
    justify-content: space-between;
    padding-left: 1.5em;
    padding-right: 1.5em;
    line-height: 0.5rem;
    position: fixed;
    bottom: 0em;
    right: 0em;
    left: 0em;
}

a
{
    text-decoration: none;
    color: $secondary-color;
}

